<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Error-500</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D66STNNHEG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-D66STNNHEG');
    </script>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container" th:id="error-500-message">
    <h1>
        Oops...Our server seems to be down.
    </h1>
    <h2>Please try again later</h2>
    <a a id="home-page" th:href="@{/home}">Home</a>
</div>