<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
>
<head>
  <meta charset="utf-8" />
  <title>Stock Portfolio Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--<link rel="icon" href="../icons/favicon.ico" />-->
  <link rel="icon" href="/images/logo.jpg" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="/css/dashboard.css" rel="stylesheet">
  <link href="/css/navbar.css" rel="stylesheet">
  <link href="/css/sidebar.css" rel="stylesheet">
  <link href="/css/profile.css" rel="stylesheet">

  <title>User Profile</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D66STNNHEG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-D66STNNHEG');
  </script>
</head>

<body>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Stock Portfolio Dashboard</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <!--Authenticated user and log out-->
      <div class="header-div">
        <div class="greeting-div">
          <span class="nav-link">Hello,  </span>
          <span
                  class="nav-link"
                  style="text-transform: capitalize"
                  sec:authentication="name"
          > Guest</span
          >
        </div>

        <form th:action="@{/logout}" method="post">
          <input
                  type="submit"
                  class="btn btn-default btn-sm"
                  value="Log out"
          />
        </form>
      </div>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column dashboard-list">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/home}">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/stock_breakdown}">
              Stock Breakdown
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/sector_breakdown}">
              Sector Breakdown
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/mc_breakdown}">
              Market Cap Breakdown
            </a>
          </li>
        </ul>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              Profile
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div id="errorMsg"  class="alert alert-danger d-none">
        Wrong password!
      </div>
      <div id="successMsg"  class="alert alert-primary d-none">
        Password was changed successfully!
      </div>

      <form class="form-modifypassword" action="#" th:action="@{/account}" method="POST">

        <div
                class="
              d-flex
              justify-content-between
              flex-wrap flex-md-nowrap
              align-items-center
              pt-3
              pb-2
              mb-3
              border-bottom
            "
        >
          <h3 class="h2">Update Password</h3>
        </div>

        <div class="col-sm-10 col-sm-offset-1">
          <div class="form-group label-floating">
            <label class="control-label" >Old password</label>
            <input type="password" class="form-control" id="oldPassword" placeholder="Old Password">
          </div>
        </div>
        <div class="col-sm-10 col-sm-offset-1">
          <div class="form-group label-floating">
            <label class="control-label" >New password</label>
            <input type="password" class="form-control" id="newPassword" placeholder="New Password">
          </div>
        </div>
        <div class="col-sm-10 col-sm-offset-1">
          <div class="form-group label-floating">
            <label class="control-label" >Confirm new password</label>
            <input type="password" class="form-control" id="confirmNewPassword" placeholder="Confirm New Password">
          </div>
        </div>
        <div class="col-sm-10 col-sm-offset-1">
          <button type="button" onclick="modifyPassword();" class="btn btn-primary" id="changePassword">Change password</button>
          <script>
            function modifyPassword() {
              errorMsg = $("#errorMsg")
              successMsg = $("#successMsg")
              if (!errorMsg.hasClass("d-none")) errorMsg.addClass("d-none")
              if (!successMsg.hasClass("d-none")) successMsg.addClass("d-none")

              oldPwd = $("#oldPassword").val()
              newPwd = $("#newPassword").val()
              confirmPwd = $("#confirmNewPassword").val()

              if (newPwd !== confirmPwd){
                $("#errorMsg").text("Passwords don't match! Please check and try again.")
                $("#errorMsg").removeClass("d-none");
                return
              }
              if (newPwd.length < 10 ){
                $("#errorMsg").text("Your password must be 10 or more characters. Please try again.")
                $("#errorMsg").removeClass("d-none");
                return
              }
              if (oldPwd == newPwd){
                $("#errorMsg").text("Your new password cannot match your existing password. Please try again.")
                $("#errorMsg").removeClass("d-none");
                return
              }

              if (confirm('Are you sure you want change your password?')) {
                // Change password!
                let res = false;
                $.post({
                  url: "/profile/modifyPwd",
                  method: "post",
                  async: false,
                  data: {"oldPwd":oldPwd, "newPwd":confirmPwd},
                  dataType:"json",
                  headers:{"X-CSRF-TOKEN": $("input[name='_csrf']").val()},
                  success: function(data){
                    res = Boolean(data)
                  }
                });
                if (res) {
                  successMsg.removeClass("d-none")
                } else {
                  $("#errorMsg").text("Wrong password!")
                  $("#errorMsg").removeClass("d-none");
                }
              } else {
                // Do nothing!
              }
            }
          </script>
        </div>
      </form>

      <form class="form-delete-account" action="#" method="POST">
        <div
                class="
              d-flex
              justify-content-between
              flex-wrap flex-md-nowrap
              align-items-center
              pt-3
              pb-2
              mb-3
              border-bottom
            "
        >
        </div>
        <div class="col-sm-10 col-sm-offset-1">
        <button type="button" onclick="deleteAccount();" class="btn btn-danger" id="delete-account">Delete account</button>
          <script>
            function deleteAccount() {
              if (confirm('Are you sure you want delete your account?')) {
                let res = false;
                $.post({
                  url: "/profile/delete",
                  method: "post",
                  async: false,
                  headers:{"X-CSRF-TOKEN": $("input[name='_csrf']").val()},
                  success: function(data) {
                    res = Boolean(data)
                    if (res) {
                      window.location.href = "/signup"
                    } else {
                      $("#errorMsg").text("Error deleting your account!")
                      $("#errorMsg").removeClass("d-none");
                    }
                  }
                });
              } else {
                // Do nothing! User does not want to delete account.
              }
            }
          </script>
        </div>
      </form>
    </main>
  </div>
</div>

<footer>
  <p>Created by Team SPD in MET CS 673 Summer 2021</p>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
></script>
</body>
</html>
